# Code owners for gaggle.
# Every PR is auto-routed to the owner(s) listed here for review.
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

* @teknikqa
